.hello {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}

body {
    background-color: rgb(54, 54, 54);
}

.img-in-text {
    width: 50%;
    border-radius: 20px;
    padding: 0px 2px 1px;
    }